@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,300,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-50 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-zinc-500/50 scrollbar-thumb-rounded-md selection:bg-zinc-300/50;
}
